ion-content {
  --overflow: hidden;
}

.accordion-group-expand-compact {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px - 60px);
  overflow: hidden;
}

ion-accordion.accordion-collapsed {
  flex: 0 0 83px;
  overflow: hidden;
}

ion-accordion.accordion-expanded {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  
  ion-list {
    height: 100%;
    overflow-y: auto;
  }
}